<div class="container">
    <div class='row'>
        {{#each albums}}
            <div class='col-4'>
                <img src="{{images.0.url}}" alt="{{name}} photo">
                <h3>{{name}}</h3>
                <a class="btn btn-secondary" href="/album/{{id}}">View Tracks</a>
                <hr>
            </div>
        {{/each}}
    </div>      
</div>
