<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/artist-search" method='GET'>
    <input type="text" name="artist">
    <input type="submit" name="" value="Search for an Artist">
</form>