
<form action="/artist-search" method="GET" class="search-form">

    <label>
        Artist: <input type="text" name="artist">
    </label>
    
    <input class="btn btn-dark" type="submit" value="Search for an Artist">

</form>