<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<hr>
<form action="/artist-search" method="GET">

    <label>
         <input type="text" name="searchArtist">
    </label>
    <input type="submit" value="Search for an Artist">
</form>