<div class =' index '>
    <div class='container'>
        <form action="/artist-search" method="GET">

            <label>
                Search Artist: <input class="form-control" type="text" name="artist">
            </label>
            <input class="btn btn-secondary" type="submit" value="Search">

        </form>
    </div>
</div>