<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/artist-results" method="GET">
    <label>
        Artist: <input type="text" name="artist" class="search-artist-input">
        <input type="submit" value="Search for an artist">
    </label>
</form>