<section class="main-form">
    <div class="form-box">
        <form action="/artist-search" method="GET" class="login-form">

            <input placeholder="Artist" type="text" name="artist">

            <input type="submit" value="Search for an Artist" class="btn btn-dark">

        </form>
    </div>
</section>